.modal_bg{
    position: absolute;
    top: 0;
    left: 0;
width: 100vw;
height: 100vh;
background-color: rgba(0, 0, 0, 0.2);
z-index: 10;
}

.modal_wrap{
    width: 450px;
    height: 550px;
    background-color: #fff;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    border: 2px solid $main100;
    border-radius: 8px;

    .modal_header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        svg{
            position: absolute;
            top: 12.5px;
            right: 15px;
            cursor: pointer;
        }
        span{
            width: 100%;
            text-align: center;
            margin-right: auto;
            font-weight: 800;
        }
    }

    .modal_body{
        width: 100%;
        padding: 20px;
        height: calc(100% - 100px);
        overflow-y: scroll;

        ul{
            display: flex;
            flex-direction: column;
            gap:10px;

            li{
                display: flex;
                align-items: center;
                gap:10px;
                min-height: 32px;
                width: 100%;
                height: auto;
label{
    width:85px;
    @include txtellipsis;
    text-align: right;
    font-weight: 700;
    font-size: 14px;

}

input, textarea, select, div{
    width: 100%;
}
input{
    padding: 6px 8px;
    background-color: #ecf2ff;

    &.read_only{
        background-color: #ddd;
        color: #aaa;
    }
}
textarea{
    padding: 6px 8px;
    background-color: #ecf2ff;
    border: none;
    resize: vertical;
    &:focus{
outline: none;
border: none;
    }
}

select{
min-height: 32px;
border: 0px;
background-color: #ecf2ff;
}

div{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
    color: $main100;

}
            }
        }


@include scrollBar;
    }

    .modal_foot{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:10px;
        padding: 0px 20px;
        height: 50px;
        background-color: #fff;
        filter: drop-shadow(0 -2px 2px rgba(255, 255, 255, 0.7))
        drop-shadow(0 -5px 5px rgba(255, 255, 255, 0.7))
        drop-shadow(0 -15px 15px rgba(255, 255, 255, 0.7));

        button{
            background-color: $main100;
color:#fff;
padding: 6px 28px;
border-radius: 4px;


&.disable{
    color: #666;
    background-color: #ddd;
    border: 1px solid #333;
}
        }
    }



    &.type2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 400px;
        height: 290px;
        padding: 20px;

        svg{
            position: absolute;
            top: 14px;
            right: 14px;
        }

        .step1{
            p{
                font-size: 20px;
                @include checkMarkBgS;
            }
            .btn_box{
                display: flex;
                align-items: center;
                justify-content: center;
                @include btnBox_reverse;
                width: 100%;
                margin-top: 60px;

                button{
                    width: 100%;
                    padding: 6px 28px;
                    border-radius: 4px;
                }
            }
        }

        .step2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap:10px;
            
            p{
                font-size: 17px;
            }

            textarea{
                @include InputBasicStyle;
                width: 90%;
                height: 81px;
                resize: none;
            }
            .btn_box{
                display: flex;
                align-items: center;
                justify-content: center;
                @include btnBox;
                width: 100%;
                margin-top: 60px;

                button{
                    width: 100%;
                    padding: 6px 28px;
                    border-radius: 4px;
                }
            }
        }

    }

    &.copy_ver{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        // @include flex-center;
        width: 350px;
        height: 160px;
        padding: 20px 20px 40px;
        .modal_header{
            width: 100%;
        }

        p{
            font-size: 18px;
        }

div{
    display: flex;
    align-items: center;
    select{
        @include commonBasicSelect;
                }
                button{
                    @include commonBtn;
                }
}
    }

    &.copy_ver2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 520px;
        height: 360px;
        padding: 10px 0 12px;


        // width: 350px;
        // height: 160px;
        // padding: 20px 20px 40px;
        .modal_header{
            width: 100%;
        }
        .modal_body{
            @include flex-center;
            height: 100%;
            &>div{
                width: 50%;
                height: 100%;
                p{
                    text-align: center;
                }
                ul{
                    li{
                        display: flex;
                        align-items: center;
                        gap:8px;
                        input{
                            &[type="checkbox"]{
                                width: auto;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
                &.left{
ul{
    overflow-y: scroll;
    @include scrollBar;
    height: 200px;
}
                }

                &:last-child{
                    border-left: 1px solid #ddd;
                    padding-left: 20px;
                }
            }

        }
        .modal_foot{
             width: 100%;

             .btn_box{
                display: flex;
                justify-content: flex-end;
                gap:5px;

                button{
                    @include commonBtn;
                }
             }
        }
    }
}
